.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  font-size: 30px !important;
  color: black !important;
  color: #09d4d4 !important;
}
.row{
	margin-right: 0 !important;
	margin-left: 0 !important
}
.navbar-default .navbar-toggle{
  border-color: #09d4d4 !important;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #09d4d4 !important;
}
.navbar-default{
	background-color: white !important;
	border: none !important;
}

.dropdown ul{
      margin-top: -1px;
    /* border-top-color: #09d4dc; */
    border-top: 2px solid #09d4dc;
    cursor: pointer;
}

/* DEMO example styles for logo image */
.navbar-brand {
  padding: 0px;
}
/*.navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px 14px;
}
*/
.navbar *{
	margin-top: 3px;
    font-size: 22px;
    color: #000;
}
hr{
  color: #09d4d4
}
.promo-pic{
	width: 100%;
}

.pic img{
  display: inline !important;
  border: 2px solid #09d4d4;
}
.container-fluid{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.products h2,.contact h2{
	font-weight: 700;
}
.products,.contact-details{
  height: auto !important;
	margin-left: 30px !important;
	margin-right: 30px !important;
}
hr{
  margin-top: 0 !important;
  border-top: 2px solid #09d4d4 !important;
}
.items{
	width: 100%;
  margin-bottom: 20px ;
	height: auto;
  cursor: pointer;
}
.items:hover{
  padding: 10px;
    /*border: 1px solid #888888;
    box-shadow:  5px 5px 5px #888888;*/
    /*box-shadow:  1px 1px 1px #888888,
         2px 2px 2px #888888,
         3px 3px 3px #888888,
         4px 4px 4px  #888888,
         5px 5px 5px #888888;*/
         
         box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

        border-top: none;
}
.contact{
	background-color: #09d4d4;
	height: auto;

}



.contact-details{
  margin-bottom: 20px;
}
.static-btn{
  position: fixed !important;
  right: 1%;
  bottom: 1%;
}
#up{
  float: right;
  display: none;
}


@media only screen and (max-width: 767px) {
    .navbar *{
    font-size: 18px;
   
}
.products,.contact-details{
	margin-left: 15px !important;
	margin-right: 15px !important;
}
.items{
  border-top: 1px solid #09d4d4;
}
#prod-dropdown{
  text-align: center !important;
}
    
}

@media only screen and (min-width: 768px) {
    #left {
        position: absolute; 
        left: 21%;
    }
  li.dropdown:hover > .dropdown-menu {
    display: block;
}
    #right {
        position: absolute; 
        right: 22%;
    }
    #right:hover{
      border-bottom: 2px solid #09d4d4;
    }
    /*#navbar li:hover{
  border-bottom: 2px solid #09d4d4;
}*/
    
}
@media only screen and (min-width: 992px) {
    #left {
        position: absolute; 
        left: 26%;
    }
  
    #right {
        position: absolute; 
        right: 27%;
    }
    /*#item2{
          border-left: 1px solid #c1c0c0;
    }*/
    
}