<!DOCTYPE html>
<html ng-app="HajjBagsApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hajj Bags</title>

	<!-- <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="CSS/styles.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">	 -->
	<link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">



	<script
	src="https://code.jquery.com/jquery-2.1.3.js"
	integrity="sha256-goy7ystDD5xbXSf+kwL4eV6zOPJCEBD1FBiCElIm+U8="
	crossorigin="anonymous"></script>	

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="JS/angular.min.js"></script>
	<script type="text/javascript" src="JS/angular-ui-router.min.js"></script>
	<script src="JS/app.js"></script>
	<script src="JS/hajjBagController.js"></script>
	<script src="JS/itemController.js"></script>

</head>
<body id="home" ng-controller="AppController">
	
	<header>
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand active" style="cursor: pointer;" ui-sref="home">Hajj Bags</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse text-center">
						<ul class="nav navbar-nav navbar-left">
							<li id="left" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="product in products"><a  ng-click="showItemPage(product)">{{product.productName}}</a></li>
          </ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li id="right" class=""><a href="#!/home#contact">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<div class="container-fluid"></div>
	<div ui-view ></div>
</body>
</html>